<div class="p-14">
    <div class="flex justify-between mb-6">
        <h2>Dashboard</h2>
        <button class="cursor-pointer" (click)="logout()">Logout</button>
    </div>
    @if (vocabularyStore.loading()) {
        <span class="loading loading-spinner loading-xl"></span>
    } @else {
        <div class="grid grid-cols-2 gap-14">
            <app-vocabulary-list
                class="col-span-2 lg:col-span-1"
                [vocabulary]="vocabularyStore.vocabulary().new"
                [color]="'blue'"
                title="New to learn"
                statusText="started today"
                [status]="vocabularyStore.vocabulary().startedToday.length"
                [showSelectToggle]="false"
            >
                <ng-template
                    #phrase
                    let-translatedPhrase="translatedPhrase"
                    let-showSelectCheckbox="showSelectCheckbox"
                    let-selectedChange="selectedChange"
                >
                    <app-phrase
                        [showMenu]="false"
                        [showReviewDate]="false"
                        [showStage]="false"
                        [translatedPhrase]="translatedPhrase"
                        [showSelectCheckbox]="showSelectCheckbox"
                        (selectedChange)="selectedChange($event)"
                    />
                </ng-template>
            </app-vocabulary-list>
            <app-vocabulary-list
                class="col-span-2 lg:col-span-1"
                [vocabulary]="vocabularyStore.vocabulary().review"
                color="green"
                title="To review today"
                statusText="reviewed today"
                [status]="vocabularyStore.vocabulary().reviewedToday.length"
            >
                <ng-template
                    #phrase
                    let-translatedPhrase="translatedPhrase"
                    let-showSelectCheckbox="showSelectCheckbox"
                    let-selectedChange="selectedChange"
                >
                    <app-phrase
                        [translatedPhrase]="translatedPhrase"
                        [showSelectCheckbox]="showSelectCheckbox"
                        (selectedChange)="selectedChange($event)"
                    />
                </ng-template>
            </app-vocabulary-list>
            <div class="col-span-2">
                <app-vocabulary-list
                    [vocabulary]="vocabularyStore.vocabulary().rest"
                    color="gray"
                    title="What comes next"
                >
                    <ng-template
                        #phrase
                        let-translatedPhrase="translatedPhrase"
                        let-showSelectCheckbox="showSelectCheckbox"
                        let-selectedChange="selectedChange"
                        let-isSelected="isSelected"
                    >
                        <app-phrase
                            [translatedPhrase]="translatedPhrase"
                            [showSelectCheckbox]="showSelectCheckbox"
                            [isSelected]="isSelected"
                            (selectedChange)="selectedChange($event)"
                        />
                    </ng-template>
                </app-vocabulary-list>
            </div>
        </div>
    }
</div>
