@if (vocabularyStore.sourceVocabulary().length) {
    <div class="grid grid-cols-5 gap-14">
        <app-vocabulary-list
            class="col-span-5 lg:col-span-3 max-h-[550px]"
            [vocabulary]="vocabularyStore.vocabulary().review"
            color="green"
            title="To review"
            statusText="reviewed"
            [status]="vocabularyStore.vocabulary().reviewedToday.length"
        >
            <ng-template
                #phrase
                let-translatedPhrase="translatedPhrase"
                let-showSelectCheckbox="showSelectCheckbox"
                let-selectedChange="selectedChange"
                let-isSelected="isSelected"
            >
                <app-phrase
                    [translatedPhrase]="translatedPhrase"
                    [showSelectCheckbox]="showSelectCheckbox"
                    [isSelected]="isSelected"
                    (selectedChange)="selectedChange($event)"
                />
            </ng-template>
        </app-vocabulary-list>
        <app-vocabulary-list
            class="col-span-5 lg:col-span-2 dashboard__new-vocabulary max-h-[550px]"
            [vocabulary]="vocabularyStore.vocabulary().new"
            [color]="'blue'"
            title="New"
            statusText="started"
            [status]="vocabularyStore.vocabulary().startedToday.length"
            [showSelectToggle]="false"
        >
            <ng-template
                #phrase
                let-translatedPhrase="translatedPhrase"
                let-showSelectCheckbox="showSelectCheckbox"
                let-selectedChange="selectedChange"
            >
                <app-phrase
                    [showMenu]="false"
                    [showReviewDate]="false"
                    [showStage]="false"
                    [showDeleteButton]="true"
                    [translatedPhrase]="translatedPhrase"
                    [showSelectCheckbox]="showSelectCheckbox"
                    (selectedChange)="selectedChange($event)"
                />
            </ng-template>
        </app-vocabulary-list>
        <app-vocabulary-list
            class="col-span-5 max-h-[550px]"
            [vocabulary]="vocabularyStore.vocabulary().rest"
            color="gray"
            title="Next"
        >
            <ng-template
                #phrase
                let-translatedPhrase="translatedPhrase"
                let-showSelectCheckbox="showSelectCheckbox"
                let-selectedChange="selectedChange"
                let-isSelected="isSelected"
            >
                <app-phrase
                    [translatedPhrase]="translatedPhrase"
                    [showSelectCheckbox]="showSelectCheckbox"
                    [isSelected]="isSelected"
                    (selectedChange)="selectedChange($event)"
                />
            </ng-template>
        </app-vocabulary-list>
    </div>
}
