<div
    class="py-2 px-4 rounded-md bg-white shadow-md border border-gray-300 phrase-component"
    [title]="translatedPhrase().id"
>
    <div class="flex justify-between items-center gap-6">
        @if (showSelectCheckbox()) {
            <input
                type="checkbox"
                class="checkbox checkbox-sm phrase-component__select-checkbox"
                (click)="toggleSelect()"
                [checked]="isSelected()"
            />
        }
        <button
            class="grow text-left cursor-pointer phrase-component__original"
            (click)="revealTranslation()"
            [title]="translatedPhrase().original.id"
        >
            {{ translatedPhrase().original.text }}
        </button>
        @if (showReviewDate()) {
            <div
                class="text-sm text-gray-500 text-nowrap phrase-component__review-date"
            >
                {{ translatedPhrase().review_date | date: 'd MMM YY' }}
            </div>
        }
        @if (showStage()) {
            <div
                class="text-xs text-gray-500 text-nowrap phrase-component__stage"
            >
                Stage {{ translatedPhrase().sr_stage_id }}
            </div>
        }
        <div class="flex gap-1">
            @if (loadingAudioId() === translatedPhrase().original.id) {
                <span class="loading loading-spinner loading-xs"></span>
            } @else {
                <button
                    class="cursor-pointer phrase-component__play-audio--original"
                    (click)="playAudio(translatedPhrase().original.id)"
                >
                    <app-icon type="play" />
                </button>
            }

            @if (isReviewLoading()) {
                <span class="loading loading-spinner loading-xs"></span>
            } @else {
                <button
                    class="cursor-pointer phrase-component__review-button"
                    (click)="setReviewedVocabulary(translatedPhrase().id)"
                >
                    <app-icon type="check-circle" />
                </button>
            }
            @if (showMenu()) {
                <button
                    #optionsMenuTrigger
                    class="cursor-pointer phrase-component__options-button"
                    [cdkMenuTriggerFor]="phraseOptionsMenu"
                    cdkMenuTriggerCloseSource="click"
                >
                    @if (isOptionsBusy()) {
                        <span class="loading loading-spinner loading-xs"></span>
                    } @else {
                        <!-- Replace the icon completely for spinner when busy -->
                        <app-icon type="ellipsis-horizontal" />
                    }
                </button>

                <ng-template #phraseOptionsMenu>
                    <div cdkMenu>
                        <app-options-menu
                            class="phrase-component__options-menu"
                            (emitDelayDays)="selectDelayDays($event)"
                            (emitReset)="resetVocabulary(translatedPhrase().id)"
                            (emitRestart)="
                                restartVocabulary(translatedPhrase().id)
                            "
                            [disabled]="isOptionsBusy()"
                        />
                    </div>
                </ng-template>
            }
        </div>
    </div>
    @if (isTranlationVisible()) {
        <div class="pl-6 pt-2 mt-2 border-t border-dotted border-gray-300">
            <div class="flex justify-between items-center">
                <div
                    class="flex gap-3 items-center phrase-component__translated"
                    [title]="translatedPhrase().translated.id"
                >
                    {{ translatedPhrase().translated.text }}
                </div>
                <div>
                    @if (
                        loadingAudioId() === translatedPhrase().translated.id
                    ) {
                        <span class="loading loading-spinner loading-xs"></span>
                    } @else {
                        <button
                            class="cursor-pointer phrase-component__play-audio--translated"
                            (click)="
                                playAudio(translatedPhrase().translated.id)
                            "
                        >
                            <app-icon type="play" />
                        </button>
                    }
                </div>
            </div>
        </div>
    }
</div>
